.last__blog__container {
  width: 37.375rem;
  height: 16rem;
  background-color: #fff;
  border-radius: 0.7rem;
  -webkit-border-radius: 0.7rem;
  -moz-border-radius: 0.7rem;
  -ms-border-radius: 0.7rem;
  -o-border-radius: 0.7rem;
  box-shadow: 0 12px 24px -18px #181a2a;
  padding: 2.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  bottom: -3.5rem;
  left: 3rem;
}

.blog__badge > a {
  color: white;
  font-size: 1.1rem;
}

/* Title */
.last__blog__title {
  font-size: 2.25rem;
  color: #181a2a;
  font-weight: 700 !important;
  margin-top: 1rem;
  line-height: 2.5rem;
}
