.latest__post__title {
  font-size: 1.5rem;
  color: #181a2a;
  font-weight: bold !important;
  margin-bottom: 2rem;
}

.latest__post {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 1.25rem;
  justify-content: space-around;
}

.view_all__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}
.view__all {
  display: flex;
  align-items: center;
  justify-content: center;

  border: 1px solid #696a75;
  padding: 0.75rem 1.25rem;
  border-radius: 0.375rem;
  -webkit-border-radius: 0.375rem;
  -moz-border-radius: 0.375rem;
  -ms-border-radius: 0.375rem;
  -o-border-radius: 0.375rem;
  text-align: center;
  width: 6.938rem;
  height: 2rem;
  color: #696a75;
  font-weight: 500 !important;
  margin: 2rem 0 0;
  outline: none;
}
